.sidebar-shelf-container {
    display: grid;
    grid-template-columns: 20% 78%;
    grid-column: 1;
    column-gap: 2%;
}

.sidebar .button {
    display: block;
    margin: 0 auto;
}

dialog {
    position: relative;
}

.form-buttons {
    display: flex;
    margin-top: 30px;
    gap: 10px;
}

.shelf {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 5px;
    height: 1030px;
    width: calc(100% - 60px);
    border: 10px solid #AD8B73;
    padding: 20px;
}

.book {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 80px);
    width: 20%;
    border: 10px solid #AD8B73
}

.book > div > p:first-child {
    font-weight: bold;
}

.title  {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-row: 1;
}

.author {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-row: 2;
}

.numberOfPages {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-row: 3;
}

.readStatus {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-row: 4;
}